#logo{flush:left;padding:0px;padding-top:5px;padding-left:15px;}#main-menu{flush:right;position:absolute;left:610px;top:115px;}
#o-piscu-blok img{padding-top:10px;}
#vremenski-unos-bloga tr td,tr th{width:20px;}#izdate-knjige tr td,tr th{}#izdate-knjige img{margin-left:auto;margin-right:auto;}
#izdate-knjige img{display:block;margin-left:auto;margin-right:auto;padding:5px;}#vremenski-unos-bloga img{display:block;margin-left:auto;margin-right:auto;padding:2px;}
.koreice-knjiga-blok img{display:block;margin-left:auto;margin-right:auto;padding-top:0px;padding-top:5px;padding-bottom:5px;}
